html {
  direction: ltr;
}

ul {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.me-1 {
  margin-right: 0 !important;
  margin-left: 0.25rem !important;
}

.navbar-area nav .navbar-nav {
  margin-left: 0;
  margin-right: auto;
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu {
  left: auto;
  right: 0;
}

.navbar-area nav .navbar-nav .nav-item .dropdown-menu li {
  text-align: right;
}

.navbar-area nav .others-options {
  margin: 0 10px 0 0;
}

.navbar-brand {
  margin-right: 0;
  margin-left: 1rem;
}

.navbar-toggler {
  background-color: transparent;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-banner-content {
  padding-right: 0;
}

.main-banner-content .btn-primary {
  margin-right: 0;
  margin-left: 20px;
}

.about-content-two {
  padding-left: 0;
  padding-right: 30px;
}

.about-content-two .section-title {
  text-align: right;
}

.about-content-two .about-text ul li {
  padding-left: 0;
  padding-right: 25px;
}

.about-content-two .about-text ul li i {
  right: 0;
  left: auto;
}

.single-case-studies .content {
  left: auto;
  right: 0;
}

.single-case-studies .btn {
  left: auto;
  right: 30px;
}

.cta-btn-box {
  text-align: left;
}

.read-more-btn i {
  padding-left: 0;
  padding-right: 5px;
}

.single-footer-widget h3::before {
  right: 0;
  left: auto;
}

.single-footer-widget ul.get-in-touch li {
  padding-left: 0;
  padding-right: 50px;
}

.single-footer-widget ul.get-in-touch li i {
  left: auto;
  right: 0;
}

.single-footer-widget .social-links li {
  margin-right: 0;
  margin-left: 5px;
}

.single-footer-widget .social-links li:last-child {
  margin-left: 0;
}

.single-footer-widget .social-links li a {
  margin: 0;
}

.scroll-to-top i {
  right: auto;
  left: 20px;
}

.contact-cta-box {
  padding: 30px 30px 30px 210px;
}

.contact-cta-box .btn {
  right: auto;
  left: 30px;
}

.single-blog-item .blog-image .post-tag {
  left: auto;
  right: 0;
}

.feature-list {
  padding: 13px 45px 13px 13px;
}

.feature-list i {
  left: auto;
  right: 18px;
  top: 15px;
}

.single-pricing-table .pricing-features li {
  padding-left: 0;
  padding-right: 25px;
}

.single-pricing-table .pricing-features li i {
  left: auto;
  right: 0;
}

.blog-item-box .blog-item .post-content .post-meta li {
  margin-right: 0 !important;
  margin-left: 18px !important;
  padding-left: 0 !important;
  padding-right: 25px !important;
}

.blog-item-box .blog-item .post-content .post-meta li i {
  left: auto;
  right: 0;
}

.blog-item-box .blog-item .post-content .post-meta li::before {
  right: auto;
  left: -10px;
}

.single-blog-post .post-content .post-meta li {
  margin-right: 0 !important;
  margin-left: 18px !important;
  padding-left: 0 !important;
  padding-right: 25px !important;
}

.single-blog-post .post-content .post-meta li i {
  left: auto;
  right: 0;
}

.single-blog-post .post-content .post-meta li::before {
  right: auto;
  left: -10px;
}

.pricing-list-tab .react-tabs .react-tabs__tab-list li:nth-child(1) {
  border-radius: 0 30px 30px 0;
}

.pricing-list-tab .react-tabs .react-tabs__tab-list li:nth-child(2) {
  border-radius: 30px 0 0 30px;
}

.services-slides .swiper-button-next {
  right: auto;
}

.services-details-info ul li {
  padding-left: 0;
  padding-right: 20px;
}

.services-details-info ul li::before {
  left: auto;
  right: 0;
}

.faq-accordion .accordion .accordion__item .accordion__button {
  padding: 12px 20px;
  text-align: right;
}

.faq-accordion .accordion .accordion__item .accordion__button::before {
  margin-right: 0;
  margin-left: 10px;
}

.contact-info-box {
  padding: 30px 120px 30px 30px;
}

.contact-info-box .icon {
  left: auto;
  right: 30px;
}

.widget-area .widget_search form .search-submit {
  right: auto;
  left: 0;
}

.widget-area .widget_posts_thumb .item .thumb {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

.widget-area .widget ul li {
  padding-left: 0;
  padding-right: 17px;
}

.widget-area .widget ul li::before {
  left: auto;
  right: 0;
}

.blog-details .article-content .entry-meta li {
  margin-right: 0;
  margin-left: 15px;
}

.blog-details .article-content .entry-meta li i {
  margin-right: 0;
  margin-left: 5px;
}

.comments-area .comment-body {
  margin-left: 60px;
  margin-right: 65px;
}

.comments-area .comment-author .avatar {
  left: auto;
  right: -65px;
}

.comments-area .comment-respond .comment-form-cookies-consent {
  padding-left: 0;
  padding-right: 20px;
}

.comments-area .comment-respond .comment-form-cookies-consent input {
  left: auto;
  right: 0;
}

.lang-didebar {
  left: 0;
  right: auto;
}

.lang-didebar a {
  font-size: 13px;
}

.cta-area-two .cta-btn-box {
  text-align: center;
}

.newsletter-inner-area .newsletter-content .newsletter-form button {
  left: 5px;
  right: auto;
}

.it-banner {
  overflow: hidden;
}

/* Software Startup Home */
.software-banner-content {
  margin-left: 0;
  padding-right: 0;
  margin-right: auto;
}

.software-overview-box .overview-image.left-img {
  padding-right: 0;
  padding-left: 30px;
}

.software-overview-box .overview-image.right-img {
  padding-right: 30px;
  padding-left: 0;
}

.software-overview-box .overview-content {
  padding-left: 0;
  padding-right: 30px;
}

.software-overview-box .overview-content .overview-list li span {
  padding: 15px 80px 15px 25px;
}

.software-overview-box .overview-content .overview-list li span i {
  left: auto;
  right: 25px;
}

.software-overview-box:nth-child(2) .overview-content, .software-overview-box:nth-child(3) .overview-content, .software-overview-box:nth-child(4) .overview-content, .software-overview-box:nth-child(5) .overview-content, .software-overview-box:nth-child(6) .overview-content, .software-overview-box:nth-child(7) .overview-content, .software-overview-box:nth-child(8) .overview-content, .software-overview-box:nth-child(9) .overview-content, .software-overview-box:nth-child(10) .overview-content, .software-overview-box:nth-child(11) .overview-content, .software-overview-box:nth-child(12) .overview-content {
  padding-right: 0;
  padding-left: 30px;
}

.software-pricing-box .features-list li {
  padding-left: 0;
  padding-right: 35px;
}

.software-pricing-box .features-list li i {
  left: auto;
  right: 0;
}

.software-faq.faq-accordion .accordion .accordion__item .accordion__button {
  padding: 15px 20px 15px 40px;
}

.software-faq.faq-accordion .accordion .accordion__item .accordion__button::before {
  right: auto;
  left: 10px;
}

.software-funfacts-item {
  padding-left: 0;
  padding-right: 145px;
}

.software-funfacts-item .icon {
  left: auto;
  right: 0;
}

.text-start {
  text-align: initial !important;
  text-align: right !important;
}

.faq-img.pl-30 {
  padding-left: 0;
  padding-right: 30px;
}

.softeware-app-download-content {
  padding-left: 0;
  padding-right: 15px;
}

.softeware-app-download-content .btn-box .playstore-btn {
  margin-right: 0;
  margin-left: 15px;
}

.single-footer-widget h3::after {
  left: auto;
  right: 35px;
}

.portfolio-desc ul, .portfolio-desc ol {
  padding-right: 30px;
}

.coming-soon-content form .input-newsletter {
  padding: 0 20px 0 15px;
}

.coming-soon-content form .default-btn-two {
  right: auto;
  left: 5px;
}

/* Digital Marketing Home */
.marketing-banner-content {
  padding-right: 0;
  padding-left: 25px;
}

.marketing-about-image {
  margin-right: 0;
  margin-left: 15px;
}

.marketing-about-content .box {
  padding-left: 0;
  padding-right: 25px;
}

.marketing-about-content .box i {
  left: auto;
  right: 0;
}

.dm-funfacts-box {
  padding-left: 0;
  padding-right: 110px;
}

.dm-funfacts-box i {
  left: auto;
  right: 35px;
}

.dm-pricing-box .features-list li {
  padding-left: 0;
  padding-right: 25px;
}

.dm-pricing-box .features-list li i {
  left: auto;
  right: 0;
}

/* End Digital Marketing Home */
/* Business Business Home */
.consulting-banner-area::before {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.bc-features-item {
  padding-left: 0;
  padding-right: 70px;
}

.bc-features-item .icon {
  left: auto;
  right: 0;
}

.bc-funfacts-box.text-center {
  border-left: 2px dashed rgba(255, 255, 255, 0.2);
  border-right: none;
}

/* End Business Business Home */
/* Freelancer Portfolio Home */
.fp-project-item .content {
  padding-right: 0;
  padding-left: 40px;
}

.fp-project-item .content .link-btn {
  right: auto;
  left: 0;
}

/* End Freelancer Portfolio Home */
/* App Showcase Home */
.app-main-banner-inner .content {
  padding-right: 0;
  padding-left: 15px;
}

.app-about-content {
  padding-left: 0;
  padding-right: 30px;
}

.app-features-item {
  padding: 40px 110px 35px 30px;
}

.app-features-item .icon {
  left: auto;
  right: 30px;
}

.app-download-inner .app-download-content .btn-box .playstore-btn {
  margin-right: 0;
  margin-left: 15px;
}

.app-feedback-box .client-info .title {
  margin-left: 0;
  margin-right: 15px;
}

.app-pricing-box .popular {
  right: auto;
  left: 20px;
}

.app-pricing-box .features-list li {
  padding-left: 0;
  padding-right: 25px;
}

.app-pricing-box .features-list li i {
  left: auto;
  right: -2px;
}

.app-free-trial-content form .input-newsletter {
  padding-left: 15px;
  padding-right: 25px;
}

.app-free-trial-content form .app-default-btn {
  right: auto;
  left: 5px;
}

.app-blog-post .content ul li {
  margin-right: 0;
  margin-left: 15px;
}

/* End App Showcase Home */
/* Personal Portfolio Home */
.personal-portfolio-banner-content .sub-title {
  padding: 0;
}

.personal-portfolio-banner-content .sub-title::before {
  display: none;
}

.section-title.style-two {
  padding-left: 0;
  padding-right: 90px;
}

.section-title.style-two h2::before {
  left: auto;
  right: -90px;
}

.short-brief-content .timeline-item {
  padding-left: 0;
  padding-right: 40px;
}

.short-brief-content .timeline-marker {
  left: auto;
  right: 0;
}

.pp-post-item .post-content .meta li {
  margin-right: 0;
  margin-left: 15px;
}

.pp-shape1 {
  right: auto;
  left: 40px;
}

/* End Personal Portfolio Home */
/* SaaS Startup Home */
.saas-banner-content {
  margin-left: 0;
  margin-right: auto;
}

.saas-about-image {
  padding-right: 0;
  padding-left: 15px;
}

.saas-about-content {
  padding-left: 0;
  padding-right: 15px;
}

.saas-about-content .features-list li {
  padding-left: 0;
  padding-right: 24px;
}

.saas-about-content .features-list li i {
  left: auto;
  right: 0;
}

.saas-how-it-works-content {
  padding-right: 0;
  padding-left: 30px;
}

.saas-how-it-works-content ul li {
  padding-left: 0;
  padding-right: 65px;
}

.saas-how-it-works-content ul li i {
  left: auto;
  right: 0;
}

.saas-pricing-tabs .react-tabs .react-tabs__tab-list .react-tabs__tab:first-child {
  border-radius: 0 5px 5px 0;
}

.saas-pricing-tabs .react-tabs .react-tabs__tab-list .react-tabs__tab:first-child::before {
  border-radius: 0 5px 5px 0;
}

.saas-pricing-tabs .react-tabs .react-tabs__tab-list .react-tabs__tab:last-child {
  border-radius: 5px 0 0 5px;
}

.saas-pricing-tabs .react-tabs .react-tabs__tab-list .react-tabs__tab:last-child::before {
  border-radius: 5px 0 0 5px;
}

.saas-testimonials-item .info .title {
  margin-left: 0;
  margin-right: 10px;
}

.saas-testimonials-item .info img {
  margin-right: 0;
  margin-left: 10px;
}

.saas-post-item .post-content .meta li {
  margin-right: 0;
  margin-left: 15px;
}

/* End SaaS Startup Home */
/* Cyber Security Agency Home */
.cs-banner-section::before {
  right: auto;
  left: 0;
}

.cs-banner-content .banner-btn li {
  margin-right: 0;
  margin-left: 20px;
}

.cs-card-content h3::after {
  left: auto;
  right: 0;
}

.cs-about-area::before {
  left: auto;
  right: 0;
}

.cs-about-content {
  padding-left: 0;
  padding-right: 35px;
}

.cs-banner-content .banner-btn li .video-btn i {
  padding-left: 0;
  padding-right: 5px;
}

.cs-choose-content .list li {
  padding-right: 25px;
  padding-left: 0;
}

.cs-choose-content .list li i {
  left: auto;
  right: 0;
}

.cs-fun-facts-area::before {
  left: auto;
  right: 0;
}

.cs-single-fun-facts::before {
  left: auto;
  right: 0;
}

.leading-technology-content .list li {
  padding: 10px 38px 10px 10px;
}

.leading-technology-content .list li::before {
  left: auto;
  right: 15px;
}

.cs-single-feedback .client-info {
  padding-left: 0;
  padding-right: 70px;
}

.cs-single-feedback .client-info img {
  left: auto;
  right: 0;
}

.cs-single-feedback .quote {
  right: auto;
  left: 45px;
}

.cs-blog-card .post-meta li {
  margin-right: 0;
  margin-left: 20px;
}

.cs-blog-card .info {
  padding-left: 0;
  padding-right: 70px;
}

.cs-blog-card .info img {
  left: auto;
  right: 0;
}

.cs-about-content .cs-about-card h4::after {
  left: auto;
  right: 0;
}

/* End Cyber Security Agency Home */
.hero-slider .swiper-button-next {
  right: auto;
  left: 30px;
}

.hero-slider .swiper-button-next::after {
  padding-left: 0;
  padding-right: 3px;
}

.hero-slider .swiper-button-prev::after {
  padding-left: 3px;
  padding-right: 0;
}

.team-slider .swiper-button-next::after {
  padding-left: 0;
  padding-right: 3px;
}

.team-slider .swiper-button-prev::after {
  padding-left: 3px;
  padding-right: 0;
}

.work-slides .swiper-button-next {
  right: auto;
  left: 10px;
}

.work-slides .swiper-button-next::after {
  padding-left: 0;
  padding-right: 3px;
}

.work-slides .swiper-button-prev::after {
  padding-left: 3px;
  padding-right: 0;
}

.featured-services-slides .swiper-button-next {
  right: auto;
  left: 0;
}

.featured-services-slides .swiper-button-next::after {
  padding-left: 0;
  padding-right: 3px;
}

.featured-services-slides .swiper-button-prev::after {
  padding-left: 3px;
  padding-right: 0;
}

.pp-testimonials-slides .swiper-button-prev {
  left: 10px;
  right: auto;
}

.partner-slides .swiper-button-next {
  right: auto;
  left: -6px;
}

.saas-testimonials-slides .swiper-button-next {
  right: auto;
  left: 5px;
}

.cs-partner-slides .swiper-button-next {
  right: auto;
  left: 0;
}

.marketing-testimonials-content {
  padding-right: 0;
  padding-left: 50px;
}

/* Responsive CSS */
@media only screen and (max-width: 767px) {
  .navbar-area nav .navbar-nav {
    padding-right: 0;
    padding-left: 15px;
  }
  .navbar-area.navbar-style-2 nav .navbar-nav .nav-item {
    padding-right: 5px;
    padding-left: 5px;
  }
  .main-banner-content .btn-primary {
    margin-left: 10px;
  }
  .about-content-two {
    padding-right: 0;
  }
  .contact-cta-box {
    padding: 25px;
  }
  .contact-cta-box .btn {
    position: relative;
    left: auto;
    top: unset;
    -webkit-transform: unset;
    transform: unset;
    margin-top: 15px;
  }
  .contact-info-box {
    padding: 30px;
  }
  .contact-info-box .icon {
    right: auto;
  }
  .comments-area .comment-author .avatar {
    right: 0;
  }
  .comments-area .comment-body {
    margin-left: 0;
    margin-right: 0;
  }
  /* Software Startup Home */
  .software-banner-content {
    margin-left: auto;
  }
  .software-banner-content p {
    margin-left: auto;
    margin-right: auto;
  }
  .software-funfacts-item {
    padding: 20px 15px;
  }
  .software-overview-box .overview-image.left-img, .software-overview-box .overview-image.right-img {
    padding-left: 15px;
    padding-right: 15px;
  }
  .software-overview-box .overview-content {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .faq-img.pl-30 {
    padding-right: 0;
  }
  /* End Software Startup Home */
  /* Digital Marketing Home */
  .marketing-banner-content {
    padding-left: 0;
  }
  .marketing-about-image {
    margin-left: 0;
  }
  /* End Digital Marketing Home */
  /* Business Business Home */
  .bc-features-item {
    padding: 30px 15px;
  }
  .bc-funfacts-box.text-center {
    border: 1px solid #363636;
    padding: 15px 10px;
  }
  /* End Business Business Home */
  /* App Showcase Home */
  .app-main-banner-inner .content {
    padding-left: 0;
  }
  .app-about-content {
    padding-right: 0;
  }
  .app-features-item {
    padding: 30px 80px 25px 25px;
  }
  .app-features-item .icon {
    right: 20px;
  }
  .app-download-inner .app-download-content .btn-box .playstore-btn {
    margin-left: 6px;
  }
  /* End App Showcase Home */
  /* Personal Portfolio Home */
  .section-title.style-two {
    padding-right: 30px;
  }
  .section-title.style-two h2::before {
    right: -30px;
  }
  /* End Personal Portfolio Home */
  /* SaaS Startup Home */
  .saas-banner-content {
    margin-left: auto;
    margin-right: auto;
  }
  .saas-about-image {
    padding-left: 0;
  }
  .saas-about-content {
    padding-right: 0;
  }
  /* End SaaS Startup Home */
  /* Cyber Security Agency Home */
  .cs-about-content {
    padding-right: 0;
  }
  .cs-choose-content {
    padding-right: 0;
  }
  /* End Cyber Security Agency Home */
  .marketing-testimonials-content {
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area nav .navbar-nav .nav-item:nth-last-child(1) .dropdown-menu, .navbar-area nav .navbar-nav .nav-item:nth-last-child(2) .dropdown-menu, .navbar-area nav .navbar-nav .nav-item:nth-last-child(3) .dropdown-menu {
    right: auto;
    left: 0;
  }
  .about-content-two {
    padding-right: 0;
  }
  /* Software Startup Home */
  .software-banner-content {
    margin-left: auto;
  }
  .software-banner-content p {
    margin-left: auto;
    margin-right: auto;
  }
  .software-funfacts-item {
    padding-right: 95px;
  }
  .software-overview-box .overview-image.left-img, .software-overview-box .overview-image.right-img {
    padding-left: 15px;
    padding-right: 15px;
  }
  .software-overview-box .overview-content {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .faq-img.pl-30 {
    padding-right: 0;
  }
  /* End Software Startup Home */
  /* Digital Marketing Home */
  .marketing-banner-content {
    padding-left: 0;
  }
  .marketing-about-image {
    margin-left: 0;
  }
  /* End Digital Marketing Home */
  /* Business Business Home */
  .bc-features-item {
    padding-right: 60px;
  }
  .bc-funfacts-box.text-center {
    border: 1px solid #3e3636;
    padding: 20px 10px;
  }
  .bc-funfacts-box .sub-title {
    font-size: 13px;
  }
  /* End Business Business Home */
  /* App Showcase Home */
  .app-main-banner-inner .content {
    padding: 0;
  }
  .app-about-content {
    padding-right: 0;
  }
  /* End App Showcase Home */
  /* SaaS Startup Home */
  .saas-banner-content {
    margin-left: auto;
    margin-right: auto;
  }
  .saas-about-image {
    padding-left: 0;
  }
  .saas-about-content {
    padding-right: 0;
  }
  /* End SaaS Startup Home */
  /* Cyber Security Agency Home */
  .cs-about-content {
    padding-right: 0;
  }
  .cs-choose-content {
    padding-right: 0;
  }
  /* End Cyber Security Agency Home */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-content-two {
    padding-right: 15px;
  }
  .contact-info-box {
    padding: 30px;
  }
  .contact-info-box .icon {
    right: auto;
  }
  /* Software Startup Home */
  .software-banner-image {
    padding-left: 0;
  }
  /* End Software Startup Home */
  /* App Showcase Home */
  .app-about-content {
    padding-right: 10px;
  }
  /* End App Showcase Home */
  /* SaaS Startup Home */
  .saas-post-item .post-content .meta li {
    font-size: 13px;
  }
  /* End SaaS Startup Home */
}
/*# sourceMappingURL=rtl.css.map */